@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ПИСЬКА</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">hot piski 2024 hype flex</a>.</p>
</div>
